services:
  postgres:
    restart: always
    image: pgvector/pgvector:pg17
    volumes:
      - ${DATA_PATH}/postgres:/var/lib/postgresql/data
    environment:
      # Postgres DB Super User Password
      # Replace the below with your own secure password & Make sure the password matches the password field in DATABASE_URL above
      - POSTGRES_PASSWORD=${DB_PASSWORD}

  # Redis/Valkey service for caching, rate limiting, and audit logging
  # Remove this service if you want to use an external Redis/Valkey instance
  redis:
    restart: always
    image: valkey/valkey@sha256:12ba4f45a7c3e1d0f076acd616cb230834e75a77e8516dde382720af32832d6d
    command: valkey-server --appendonly yes
    volumes:
      - ${DATA_PATH}/redis:/data
    ports:
      - '6379:6379'

  formbricks:
    restart: always
    image: ghcr.io/formbricks/formbricks:latest
    depends_on:
      - postgres
      - redis
    ports:
      - '3001:3000'
    volumes:
      - ${DATA_PATH}/saml-connection:/home/nextjs/apps/web/saml-connection
    env_file:
      - .env
