services:
  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower
    environment:
      WATCHTOWER_CLEANUP: true
      WATCHTOWER_SCHEDULE: 0 0 1 * * *
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock